body{
    background-image: url(../img/internet-9.jpg);
    background-size: cover;
    font-family: sans-serif;
}
.container{
    width: 600px;
    text-align: center;
    align-items: center;
    position: relative;
    top:310px;
}
.start{
    background-color: rgba(223, 203, 178, 0.9);
    padding: 10px;
}
.stop{
    background-color: rgba(64, 231, 175, 0.9);
    padding: 10px;
}
.min{
    background-color: rgba(241, 241, 204, 0.9);
    padding: 10px;
}
.riel{
    background-color: rgba(10, 153, 153, 0.9);
    padding: 10px;
}
#date{
    background-color: rgba(104, 29, 145, 0.8);
    color:white;
    padding: 10px;
}
#btn-start{
    width: 200px;
    padding: 10px;
    font-size: large;
}
#btn-stop{
    display: none;
    width: 200px;
    padding: 10px;
    font-size: large;
}
#btn-clear{
    display: none;
    width: 200px;
    padding: 10px;
    font-size: large;
}